body {
    margin: 0 auto;
    max-width: 60em;
  }


.title {
    font-size: xx-large;
    text-transform: capitalize;
}

.italic {
font-style: italic;
}

.leftcolumn {
    float: left;
    width: 50%;
  }

.rightcolumn {
    float: right;
    width: 50%;
  }
