* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body {
  width: 100%;
  height:100%;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*    background: linear-gradient(-45deg, #c78774, #c2839b, #6a98a8, #51a390);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite; */

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

/*
.guide{
    display:flex;
    justify-content: space-around;
    line-height: 40px;
    background-color: teal;
}

.guide a {
    text-decoration: none;
    color: white;
}

li{
    padding: 0 40px;
}

li:hover {
    animation-name:guidebutton;
    animation-duration: 2s;
}

@keyframes guidebutton{
    0%{
        background-color: teal;
    }
    50%{
        background-color: rgb(0, 95, 95);
    }
    100%{
        background-color: teal;
    }
}
*/


.responsive {
    max-width: 100%;
    height: auto;
  }

.container {
    background-color: blueviolet;
    display: list-item;
    width: 100%;
    height: 100%;
}

.top {
    background-color: cornflowerblue;
    display: flex;
    height: 10%;
}

.top_left {
    background-color: darkcyan;
    font-size: xx-large;
    width: 50%;
    text-decoration: none;
}
.top_left a {
    text-decoration: none;
}

.top_right {
    background-color: rgb(88, 60, 165);
    font-size: small;
    width: 50%;
    text-align: right;
}
.top_right a{
    text-decoration: none;
}

.mid {
    display: flex;
    height: 80%;
}

.mid_left {
    background-color: darksalmon;
    width: 40%;
    font-size: medium;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.mid_right {
    width: 60%;
    background-color: darkseagreen;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.bottom {
    background-color: cornflowerblue;
    display: flex;
    height: 8%;
}

.bot_left {
    background-color: darkcyan;
    font-size: small;
    width: 50%;
    text-decoration: none;
}
.bot_left a {
    text-decoration: none;
}

.bot_right {
    background-color: rgb(88, 60, 165);
    font-size: small;
    width: 50%;
    text-align: right;
}
.bot_right a{
    text-decoration: none;
}

.footer {
    background-color: dimgrey;
    height: 2%;
    text-align: center;
    font-size: x-small;
}