* {
    margin: 0;
    padding: 0px;;
    box-sizing: border-box;
}

html, body {
  width: 100%;
  height:100%;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.body_2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(223, 145, 145); ;
}

.body_photo {
    background-image: url('images/conerwall_photo.png');
    background-size:cover;
    background-repeat: no-repeat;
}

.subtitle {
    font-size:x-large;
}

a {
    text-decoration: none;
    color: black;
}

.xl {
    font-size: 300%;
}

/*    background: linear-gradient(-45deg, #c78774, #c2839b, #6a98a8, #51a390);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite; */

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

/*
.guide{
    display:flex;
    justify-content: space-around;
    line-height: 40px;
    background-color: teal;
}

.guide a {
    text-decoration: none;
    color: white;
}

li{
    padding: 0 40px;
}


*/

a:hover{
    color:rgb(175, 84, 84);
}

.instruction:hover {
    animation-name:button;
    animation-duration: 0.5s;
    color: rgb(255, 255, 255);
}

#instruction_2:hover {
    animation-name:button;
    animation-duration: 0.5s;
    color: rgb(255, 255, 255);
}

@keyframes button{
    0%{
        color: rgb(0, 0, 0);
    }
    100%{
        color: rgb(255, 255, 255);
    }
}


.responsive {
    max-width: 100%;
    height: auto;
  }

  .steps {
      width: 90%;
  }


.container_main {
    display: list-item;
    width: 100%;
    height: 100%;
    background-image: url('images/conerwall.png');
    background-size:cover;
    background-repeat: no-repeat;
}





.container_diy {
   
    display: list-item;
    width: 100%;
    height: 100%;

}

.top {
    display: flex;
    height: 10%;
}

.top_left {
    width: 40%;
    text-decoration: none;
    padding: 5px;
    background-color: rgb(223, 145, 145);
}

.top_left_2 {
    width: 40%;
    text-decoration: none;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}


.top_left a {
    text-decoration: none;
    
}

.top_right {
    
    font-size: small;
    width: 60%;
    text-align: right;
    padding: 5px;
}
.top_right a{
    text-decoration: none;
}

.mid {
    display: flex;
    height: 78%;
    
}

.mid_2 {
    display: flex;
    height: 78%;
    justify-content: space-evenly;
    align-items:center;
    text-align: center;
}


.mid_left {
    background-color: rgb(223, 145, 145);
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    text-align: center;
}

.mid_left_2 {
    background-color: rgb(223, 145, 145);
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}

.mid_right {
    width: 60%;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.mid_right_2 {
    width: 60%;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.mid_right_3 {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content:center;
    align-items:center;
    background-image: url(images/put-together.gif);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}

.bottom {
    
    display: flex;
    height: 10%;
}

.bot_left {
    background-color: rgb(223, 145, 145);
    font-size: small;
    width: 40%;
    text-decoration: none;
    padding: 5px;
    text-align: left;
}

.step_left {
   
    font-size: small;
    width: 50%;
    text-decoration: none;
    padding: 5px;
    text-align: left;
}

.bot_left_2 {
    background-color: rgb(255, 255, 255);
    font-size: small;
    width: 40%;
    text-decoration: none;
    padding: 5px;
}
.bot_left a {
    text-decoration: none;
}

.bot_right {
    
    font-size: small;
    width: 60%;
    text-align: right;
    padding: 5px;
}

.step_right {
    
    font-size: small;
    width: 50%;
    text-align: right;
    padding: 5px;
}
.bot_right a{
    text-decoration: none;
}

.footer {
    background-color: rgb(223, 145, 145);
    height: 2%;
    width: 40%;
    text-align: center;
    font-size: x-small;
}

.footer_2 {
    background-color: rgb(255, 255, 255);
    height: 2%;
    width: 40%;
    text-align: center;
    font-size: x-small;
}